{% extends "base.html" %}
{% block content %}
<div class="mx-auto px-2 my-2">

  <form class="row g-3 align-items-center" action="/add_author" method="POST">
      <div class="mb-3 col-auto">
        <label for="name" class="form-label"><strong><span>Author Name:</span></strong></label>
        <input type="text" class="form-control" id="name" name="name" required >
      </div>
      <div class="mb-3 col-auto">
        <label for="birthdate" class="form-label"><strong><span>Birthdate:</span></strong></label>
        <input type="date" class="form-control" id="birthdate" name="birthdate" required>
      </div>

      <div class="mb-3 col-auto">
        <label for="date_of_death" class="form-label"><strong><span>Date of Death:</span></strong></label>
        <input type="date" class="form-control" id="date_of_death" name="date_of_death" required>
      </div>

      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-outline-success" value="Add Author">Submit</button>
      </div>
    </form>

</div>
{% endblock %}
