{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col position-relative" style="margin-bottom: 3%">
            <img src="{{url_for('static', filename='lib.jpg')}}" style="width: 75%; max-height: 25vh; object-fit: cover;">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
                <h1 class="title" style="color: #B8860B; font-size: 5rem; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">My Library</h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <form method="get" action="/">
                <select name="sort_by" class="form-select">
                    <option value="title">Sort by Title</option>
                    <option value="author">Sort by Author</option>
                </select>
                <input type="submit" value="Sort" class="btn btn-primary mt-2">
            </form>
        </div>

        <div class="col-md-6 text-center">
            <form method="get" action="/search">
                <input type="text" name="query" placeholder="Search for a book..." class="form-control" required>
                <input type="submit" value="Search" class="btn btn-primary mt-2">
            </form>
        </div>
        
    </div>

    {% if message %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <p class="alert alert-danger">{{ message }}</p>
        </div>
    </div>
    {% endif %}



    <div class="row justify-content-center">
        {% for book in books %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
            <div class="card mb-3 text-center" style="width: 200px; background-color: rgba(255, 255, 255, 0.2);">
                <img src="{{ book.thumbnail }}" class="card-img-top book-image" alt="{{ book.title }}">
                <div class="card-body" style="background-color: transparent;">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Author: {{ book.author.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}